<!doctype html>

<html>

<head>
    <meta charset="utf-8">
    <style>
        h1 {
            margin-top: 10%;
            text-align: center;
        }
    </style>
    <script>
        function back() {
            window.history.back();
        }
    </script>
</head>

<body onclick="back()">
    <h1>404 Not Found</h1>
    <h1>화면 클릭 시에 이전 페이지로 이동</h1>
</body>

</html>