<html>
    <head>
        <title>취소 Check</title>
        <script language="javascript">
        function moveClose(){
            opener.location.href="/free_list";
            self.close();
        }
        </script>
    </head>
    <body>
        <h3>게시물 작성을 취소하시겠습니까?</h3>
        
        <input style="float:right; margin-right:5px;" type="button" value="취소" onclick="self.close();"/>
        <input style="float:right; margin-right: 5px;" type="button" value="확인" onclick="moveClose();"/>
    </body>
</html>