<html>

<head>
    <title>MIRO STORY</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Pen+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo" rel="stylesheet">
</head>

<body>
    <br>
    <div style="display: flex; flex-direction : column; ">
        <div style="display: flex; flex-direction : row ; justify-content: flex-end; margin-right: 50px;">
            <div style="display: flex; flex-direction: row; ">
                <%if(user !== undefined){%>
                <form method="POST" action="/logout" id="logout"></form>
                <div onclick="document.getElementById('logout').submit()" style="text-align:right;margin-right: 20%;cursor: pointer;font-style: italic; font-size: 2.0em; line-height: 1.0em; font-family: 'Nanum Pen Script', cursive; color: black; width: 100px;">로그아웃</a></div>

                <%}else{%>
                <div style="text-align:right;margin-right: 10%;cursor: pointer;font-style: italic; font-size: 2.0em; line-height: 1.0em; font-family: 'Nanum Pen Script', cursive; color: black; width: 100px"><a
                        href="/login">로그인</a></div>
                <div style="text-align:right;margin-right: 10%;cursor: pointer;font-style: italic; font-size: 2.0em; line-height: 1.0em; font-family: 'Nanum Pen Script', cursive; color: black;  width: 100px"><a
                        href="/signUp">회원가입</a></div>
                <%}%>
            </div>


        </div>
        <div style="display: flex; flex-direction : row; justify-content: center; ">
            <img src="https://66.media.tumblr.com/1bf9342b3a4474e19e179b3745d8cf8b/tumblr_phvgfoXXN71xm8ub5o1_250.jpg"
                alt="https://66.media.tumblr.com/1bf9342b3a4474e19e179b3745d8cf8b/tumblr_phvgfoXXN71xm8ub5o1_250.jpg"
                style="width:300px;height:300px; margin-right: 0">
        </div>


        <div style="margin-left:10%;margin-right:10%;width :80%; height:5px; background-color:thistle;"></div>

        <div style="display: flex; flex-direction : row; justify-content: center;">
            <div style="display: flex; flex-direction : row; justify-content: space-around; margin-top: 30px; width:700px;">
                <a href="/notice">
                    <div style="cursor: pointer;font-style: italic; font-size: 2.2em; line-height: 1.0em; font-family: 'Nanum Pen Script', cursive; color: black;">공지사항</div>
                </a>
                </a>
                <a href="/class_list">
                    <div style="cursor: pointer;font-style: italic; font-size: 2.2em; line-height: 1.0em; font-family: 'Nanum Pen Script', cursive; color: black;">수업게시판</div>
                </a>
                <a href="/free_list">
                    <div style="cursor: pointer;font-style: italic; font-size: 2.2em; line-height: 1.0em; font-family: 'Nanum Pen Script', cursive; color: black;">자유게시판</div>
                </a>
                <a href="/anonymous">
                    <div style="cursor: pointer;font-style: italic; font-size: 2.2em; line-height: 1.0em; font-family: 'Nanum Pen Script', cursive; color: black;">마음의소리</div>
                </a>
            </div>
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <div style="display: flex;  flex-direction : column;  align-items: center; margin-top: 250px; width: 100%">
            <div style=" font-size: 3.0em; line-height: 1.0em; font-family: 'Nanum Myeongjo', serif; color: black; cursor: initial; flex-direction: column; justify-content: center; ">미로에 오신 것을 환영합니다.</div>
            <img src="https://66.media.tumblr.com/efa69f5ad9f92336acf26cf6f8448977/tumblr_phy66jaNJA1xm8ub5o1_500.jpg"
                alt="https://66.media.tumblr.com/efa69f5ad9f92336acf26cf6f8448977/tumblr_phy66jaNJA1xm8ub5o1_500.jpg"
                style="width:400px;height:300px; margin-right: 0">

            <div style=" font-size: 1.5em; line-height: 1.0em; font-family: 'Nanum Myeongjo', serif; color: black; cursor: initial; flex-direction: column; justify-content: center; margin-top: 20px; width:60%;line-height:140%; color: #a5a5a5">
                동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라 만세 무궁화 삼천리 화려강산 대한사람 대한으로 길이 보전하세
            </div>

            <div style=" font-size: 1.5em; line-height: 1.0em; font-family: 'Nanum Myeongjo', serif; color: black; cursor: initial; flex-direction: column; justify-content: center; margin-top: 20px; width:60%;line-height:140%; color: #a5a5a5">
                남산위에 저소나무 철갑을 두른듯 바람서리 불변함은 우리 기상일세 무궁화 삼천리 화려강산 대한사람 대한으로 길이 보전하세
            </div>

            <div style=" font-size: 1.5em; line-height: 1.0em; font-family: 'Nanum Myeongjo', serif; color: black; cursor: initial; flex-direction: column; justify-content: center; margin-top: 20px; width:60%;line-height:140%; color: #a5a5a5">
                가을하늘 공활한데 높고 구름 없이 밝은달은 우리가슴 일편단심일세 무궁화 삼천리 화려강산 대한사람 대한으로 길이 보전하세
            </div>

            <div style=" font-size: 1.5em; line-height: 1.0em; font-family: 'Nanum Myeongjo', serif; color: black; cursor: initial; flex-direction: column; justify-content: center; margin-top: 20px; width:60%;line-height:140%; color: #a5a5a5">
                이기상과 이맘으로 충성을 다하여 괴로우나 즐거우나 나라 사랑하세 무궁화 삼천리 화려강산 대한사람 대한으로 길이 보전하세
            </div>

            <div style=" font-size: 1.5em; line-height: 1.0em; font-family: 'Nanum Myeongjo', serif; color: black; cursor: initial; flex-direction: column; justify-content: center; margin-top: 20px; width:60%;line-height:140%; color: #a5a5a5; margin-bottom:40px">
                가입하고 싶으면 miro@miro.com 으로 연락주세용
            </div>
            <img src="https://66.media.tumblr.com/d9d1bcdf9998523f6c50e9640ac58b0f/tumblr_phy68jCmOY1xm8ub5o1_500.jpg"
            alt="https://66.media.tumblr.com/d9d1bcdf9998523f6c50e9640ac58b0f/tumblr_phy68jCmOY1xm8ub5o1_500.jpg"
            style="width:400px;height:300px; margin-right: 0">
        </div>
    </div>

</body>

</html>
<!-- <html>

<head>
    <title>MIRO STORY</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Pen+Script" rel="stylesheet">
</head>

<body>
    <div style="display: flex; flex-direction : column; justify-content: center; ">
        <div style="display: flex; flex-direction : row; justify-content: center; ">
            <div style="width : 100%; height:30px; background-color:thistle;">


            </div>

        </div>
        <div style="display: flex; flex-direction : row; justify-content: center; ">
            <img src="https://66.media.tumblr.com/1bf9342b3a4474e19e179b3745d8cf8b/tumblr_phvgfoXXN71xm8ub5o1_250.jpg"
                alt="https://66.media.tumblr.com/1bf9342b3a4474e19e179b3745d8cf8b/tumblr_phvgfoXXN71xm8ub5o1_250.jpg"
                style="width:300px;height:300px; margin-right: 0">
        </div>

        <div style="display: flex; flex-direction: row; justify-content: flex-end;">
            <%if(user !== undefined){%>
            <form method="POST" action="/logout" id="logout"></form>
            <div onclick="document.getElementById('logout').submit()" style="text-align:right;margin-right: 10%;cursor: pointer;font-style: italic; font-size: 2.0em; line-height: 1.0em; font-family: 'Nanum Pen Script', cursive; color: black;">로그아웃</a></div>

            <%}else{%>
            <div style="text-align:right;margin-right: 10%;cursor: pointer;font-style: italic; font-size: 2.0em; line-height: 1.0em; font-family: 'Nanum Pen Script', cursive; color: black;"><a
                    href="/login">로그인</a></div>
            <div style="text-align:right;margin-right: 10%;cursor: pointer;font-style: italic; font-size: 2.0em; line-height: 1.0em; font-family: 'Nanum Pen Script', cursive; color: black;"><a
                    href="/signUp">회원가입</a></div>
            <%}%>
        </div>

        <div style="margin-left:10%;margin-right:10%;width :80%; height:5px; background-color:thistle;"></div>

        <div style="display: flex; flex-direction : row; justify-content: space-around; margin-top: 100px;">
            <a href="/notice">
                <div style="cursor: pointer;font-style: italic; font-size: 2.0em; line-height: 1.0em; font-family: 'Nanum Pen Script', cursive; color: black;">공지사항</div>
            </a>
            </a>
            <a href="/class_list">
                <div style="cursor: pointer;font-style: italic; font-size: 2.0em; line-height: 1.0em; font-family: 'Nanum Pen Script', cursive; color: black;">수업게시판</div>
            </a>
            <a href="/free_list">
                <div style="cursor: pointer;font-style: italic; font-size: 2.0em; line-height: 1.0em; font-family: 'Nanum Pen Script', cursive; color: black;">자유게시판</div>
            </a>
            <a href="/anonymous">
                <div style="cursor: pointer;font-style: italic; font-size: 2.0em; line-height: 1.0em; font-family: 'Nanum Pen Script', cursive; color: black;">마음의소리</div>
        </div>
    </div>

</body>

</html> -->